<style type="text/css">
@media (min-width: 700px) {
	#botones-main
	{
		padding-top: 20%;
	}
}
.botones
{
	padding:20px;
}

</style>
<div id="botones-main" class="container">
	<div class="row text-center">
		<div class="botones col-md-4">
			<div><a href="#"><span class="fa fa-book fa-5x"></span></a></div>
			<div>Administración</div>
		</div>
		<div class="botones col-md-4">
			<div><a href="#"><span class="fa fa-usd fa-5x"></span></a></div>
			<div>Ventas</div> 
		</div>
		<div class="botones col-md-4">
			<div><a href="#asd"><span class="fa fa-line-chart fa-5x"></span></a></div>
			<div>Productividad</div>
		</div>
	</div>
</div>

