= react_component("components/Header", { title: 'Dashboard' })
= react_component('containers/Dashboard', { root_url: request.base_url,
                                            user: current_user,
                                            filters: @filters,
                                          },
                                          class: 'row')
