.dashboard__filter
  = simple_form_for '', url: config_filter_parameters_path, method: :post do |f|
    %div{style: 'flex: 1;'}
      = f.input :department, collection: filter[:departments] || filter[:production_departments] || filter[:stores] , label: false, wrapper: :select2, selected: 1
    %div{style: 'flex: 1; margin-left: 10px;'}
      %div.input-group.date
        %input.form-control{type: "text", value: Date.today.strftime("%d/%m/%Y")}
          %div.input-group-addon
    = button_tag 'submit', class: 'btn btn-primary' do
      %i.fa.fa-search{ aria: { hidden: 'true' } }
      Buscar
