= simple_form_for '', url: '#', method: :post, html: { class: 'form-inline' } do |f|
  %label Sodimac Parque Arauco
  %div.input-group.date
    %input.form-control{type: "text", value: '27/05/2018'}
      %div.input-group-addon
  = button_tag 'submit', class: 'btn btn-success' do
    %i.fa.fa-search{ aria: { hidden: 'true' } }
    Buscar
