= react_component('components/Header', { title: 'Cobertura de tienda' }, class: 'row')
= react_component('containers/StaffFullfillment', { root_url: request.base_url, user: current_user, stores: @stores, departments: @departments }, class: 'row')
