= react_component('components/DashboardHeader', { title: 'Colaboradores' }, class: 'row')
= react_component('containers/Employees', { root_url: request.base_url,
                               user: current_user,
                               filters: @filters,
                             }, class: 'row')
