<div class="sub-titulo-pantalla">Parámetros</div>
<div>
  <%= simple_form_for @search, :url => locals[:path], :class => 'row', :method => :get do |f| %>
  <div class="d-flex flex-wrap justify-content-end bd-highlight" id="sales_search_form">
    <div class="input-form">
      <%= f.input :store, collection: @stores, label: 'Tienda', wrapper: :select2, selected: params[:store], label: false  %>
    </div>
    <div class="input-form">
      <%= f.input :department, collection: @departments, label: 'Departamento', wrapper: :select2,selected: params[:department], label: false %>
    </div>
    <div class="boton-buscar">
      <%= button_tag type: 'submit',class: "btn btn-success" do %>
      <i class="fa fa-search" aria-hidden="true"></i> Buscar
      <% end %>
    </div>
  </div>
  <% end %>
</div>