%div.container-fluid
  %div.pantalla-seccion.d-flex.justify-content-between.mb-2
    %div.align-self-end
      %div.titulo-pantalla Cobertura de tienda
  %div.m-t-10
    = render 'shared/filter_parameters/filter_2', filter: retail_parameters.except(:departments)
    %div.container-fluid.box.staffing_store
      %div
        %span.label.label-success.tip{ data: { toggle: 'tooltip' } } Exceso
        %span.label.label-danger.tip{ data: { toggle: 'tooltip' } } Faltante
      - if params[:type ] == 'falabella'
        = render 'sellers/coverage/coverage_falabella'
      - if params[:type ] == 'sodimac'
        = render 'sellers/coverage/coverage_sodimac'
      - if params[:type ] == 'sodimac'
        = render 'sellers/coverage/coverage_tottus'