%div.container-fluid
  %div.pantalla-seccion.d-flex.justify-content-between.mb-2
    %div.align-self-end
      %div.titulo-pantalla Dashboard Cobertura de Tienda
  %div.m-t-10
    = render 'shared/filter_parameters/filter_2', filter: retail_parameters.except(:departments)
    %div.container-fluid.box.staffing_store
      %div
        %span.label.label-success.tip{ data: { toggle: 'tooltip' } } Sobran
        %span.label.label-danger.tip{ data: { toggle: 'tooltip' } } Faltan
      %div.row.tables
        %div.col-xl-12{ style: 'overflow-y: auto;' }
          %table.table.table-shift.table-striped
            %thead
              %tr
                %th.text-center{colspan: 8} Dotación Real vs Optimizada
              %tr
                %th Horario
                %th Accesorios y Carteras
                %th Deportes
                %th Moda Mujer
                %th Rincon Juvenil Mujer
                %th Rincon Juvenil Hombre
                %th + / -
            %tbody.t-p-3
              %tr
                %td 8 - 9
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 3
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 2
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td -1
              %tr
                %td 9 - 10
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 3
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 2
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td -1
              %tr
                %td 10 - 11
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 3
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td -3
              %tr
                %td 11 - 12
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 3
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td -4
              %tr
                %td 12 - 13
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td -2
              %tr
                %td 13 - 14
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td -1
              %tr
                %td 14 - 15
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-danger.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td -2
              %tr
                %td 15 - 16
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td 0
              %tr
                %td 16 - 17
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td +2
              %tr
                %td 17 - 18
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 3
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td +4
              %tr
                %td 18 - 19
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 2
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 2
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 1
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td +6
                %tr
              %tr
                %td 19 - 20
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 2
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 2
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td +4
              %tr
                %td 20 - 21
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 2
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-success.tip 2
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td
                  %div.dotacion-row
                    %span.dotacion.label.label-primary.tip 0
                %td +4
-# <div class="row">
-#   <div class="col-xl-12" style="overflow-y: auto">
-#     <table class="table-shift table table-striped">
-#       <thead>
-#         <tr>
-#           <th colspan="8" class="text-center">Semana 1</th>
-#         </tr>
-#         <tr>
-#             <th class="text-center"> Hora</th>
-#           <% if @staffing_w1 != nil %>
-#           <% @staffing_w1[:dates].each do |d| %>
-#             <th class="text-center"> <%= d.to_date.strftime("%d") %></th>
-#           <% end -%>
-#         </tr>
-#       </thead>
-#       <tbody class="t-p-3">
-#         <% hora = -1
-#             dia = 0
-#             countTurnos = 0 %>
-#         <% @staffing_w1[:draw].each do |k,v|%>
-#         <tr>
-#           <% if k != :"9"  && k != :"10"  &&  k != :"21" &&  k != :"22" &&  k != :"23" &&  k != :"24" %>
-#           <td class="text-center" align="center"><%= k %><span class="hidden-xs-down">:00</span></td>
-#           <% dia = 0 %>
-#           <% v.first.each do |n| %>
-#             <% if n != 0 %>
-#               <td class="hora text-center">
-#                 <div class="dotacion-row">
-#                   <span id="optimo-<%= hora+dia %>" class="dotacion label label-primary tip" data-toggle="tooltip"></span>
-#                   <span id="optimizado-<%= hora+dia %>" class="dotacion label label-success tip" data-toggle="tooltip"></span>
-#                 </div>
-#               </td>
-#               <% else %>
-#               <td class="text-center">
-#                 <div class="dotacion-row">
-#                   <span id="optimo-<%= hora+dia %>" class="dotacion label label-primary tip" data-toggle="tooltip">0</span>
-#                   <span id="optimizado-<%= hora+dia %>"  class="dotacion label label-success tip" data-toggle="tooltip">0</span>
-#                 </div>
-#               </td>
-#               <% end -%>
-#               <% dia += 10 %>
-#             <% end -%>
-#           <% end -%>
-#         </tr>
-#         <% hora += 1 %>
-#         <% end -%>
-#         <% end -%>
-#       </tbody>
-#     </table>
-#   </div>
-# </div>