<div class="container-fluid dashboard" id="sales_cluster">

  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 dashboard__container">
      <div class="row">
        <%= react_component('DashboardHeader', { title: 'Tiendas' }) %>
        <%= react_component('Stores', {}, class: 'col-md-12') %>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </div>
</div>
