= react_component("components/DashboardHeader", { title: 'Eficiencia' })
= react_component('containers/Efficiency', { root_url: request.base_url, user: current_user, stores: @stores, departments: @departments }, class: 'row')