= react_component("components/Header", { title: 'Análisis de horas' })
= react_component('containers/HourAnalysis', { root_url: request.base_url, user: current_user, filters: @filters }, class: 'row')