<nav class="brands-nav hello">
  <ul class="brands-nav__list">
    <li class="active">
      <a href="#" title="Falabella dashboard"><img src="<%= asset_pack_path('images/falabella_logo.jpg') %>" alt="Falabella"></a>
    </li>
    <li>
      <a href="#" title="Sodimac dashboard"><img src="<%= asset_pack_path('images/sodimac_logo.jpg') %>" alt="Sodimac"></a>
    </li>
    <li>
      <a href="#" title="Tottus dashboard"><img src="<%= asset_pack_path('images/tottus_logo.jpg') %>" alt="Tottus"></a>
    </li>
  </ul>
</nav>