.container-fluid
  .row
    .col
      %nav.brands-nav
        %ul.brands-nav__list
          %li.active
            %a{ href: '#', 'title': 'Falabella' }
              = image_tag('falabella_logo.jpg')
          %li
            %a{ href: '#', 'title': 'Sodimac' }
              = image_tag('sodimac_logo.jpg')
          %li
            %a{ href: '#', 'title': 'Tottus' }
              = image_tag('tottus_logo.jpg')