<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light dashboard__navbar">
      <a class="navbar-brand" href="#">
        <img src="<%= asset_pack_path('images/tooxs-logo-color.svg') %>" alt="Tooxs">
      </a>
    </nav>
  </div>
</div>