%div.pantalla-seccion.d-flex.justify-content-between.mb-2
  %div.align-self-end
    %div.titulo-pantalla= 'Cambio de Plan'
%div.m-t-10
  = render 'shared/filter_parameters/filter_4', filter: retail_parameters
.row
  .col-12.change-plans__cont.mb-4
    %h3.change-plans__cont__title Julio
    %form.change-plans__form
      %table.table.mb-2
        %thead.thead-dark
          %tr
            %th{scope: 'col'}
            %th{scope: 'col'} Semana 1
            %th{scope: 'col'} Semana 2
            %th{scope: 'col'} Semana 3
            %th{scope: 'col'} Semana 4
            %th{scope: 'col'} Total
        %tbody
          %tr.week
            %th{scope: 'row'} Plan
            %td.week-one 8500
            %td.week-two 8500
            %td.week-three 8500
            %td.week-four 8500
            %td.month-amount 34000
          %tr
            %th{scope: 'row'} Ajuste %
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control percentage', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Ajuste monto
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control amount', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Plan ajustado
            %td.week-one-adj 8500
            %td.week-two-adj 8500
            %td.week-three-adj 8500
            %td.week-four-adj 8500
            %td.month-amount-adj 340000
      %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
  .col-12.change-plans__cont.mb-4
    %h3.change-plans__cont__title Agosto
    %form.change-plans__form
      %table.table.mb-2
        %thead.thead-dark
          %tr
            %th{scope: 'col'}
            %th{scope: 'col'} Semana 1
            %th{scope: 'col'} Semana 2
            %th{scope: 'col'} Semana 3
            %th{scope: 'col'} Semana 4
            %th{scope: 'col'} Total
        %tbody
          %tr.week
            %th{scope: 'row'} Plan
            %td.week-one 8500
            %td.week-two 8500
            %td.week-three 8500
            %td.week-four 8500
            %td.month-amount 34000
          %tr
            %th{scope: 'row'} Ajuste %
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control percentage', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Ajuste monto
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control amount', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Plan ajustado
            %td.week-one-adj 8500
            %td.week-two-adj 8500
            %td.week-three-adj 8500
            %td.week-four-adj 8500
            %td.month-amount-adj 340000
      %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
  .col-12.change-plans__cont.mb-4
    %h3.change-plans__cont__title Septiembre
    %form.change-plans__form
      %table.table.mb-2
        %thead.thead-dark
          %tr
            %th{scope: 'col'}
            %th{scope: 'col'} Semana 1
            %th{scope: 'col'} Semana 2
            %th{scope: 'col'} Semana 3
            %th{scope: 'col'} Semana 4
            %th{scope: 'col'} Total
        %tbody
          %tr.week
            %th{scope: 'row'} Plan
            %td.week-one 8500
            %td.week-two 8500
            %td.week-three 8500
            %td.week-four 8500
            %td.month-amount 34000
          %tr
            %th{scope: 'row'} Ajuste %
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control percentage', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Ajuste monto
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control amount', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Plan ajustado
            %td.week-one-adj 8500
            %td.week-two-adj 8500
            %td.week-three-adj 8500
            %td.week-four-adj 8500
            %td.month-amount-adj 340000
      %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
  .col-12.change-plans__cont.mb-4
    %h3.change-plans__cont__title Octubre
    %form.change-plans__form
      %table.table.mb-2
        %thead.thead-dark
          %tr
            %th{scope: 'col'}
            %th{scope: 'col'} Semana 1
            %th{scope: 'col'} Semana 2
            %th{scope: 'col'} Semana 3
            %th{scope: 'col'} Semana 4
            %th{scope: 'col'} Total
        %tbody
          %tr.week
            %th{scope: 'row'} Plan
            %td.week-one 8500
            %td.week-two 8500
            %td.week-three 8500
            %td.week-four 8500
            %td.month-amount 34000
          %tr
            %th{scope: 'row'} Ajuste %
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control percentage', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Ajuste monto
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control amount', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Plan ajustado
            %td.week-one-adj 8500
            %td.week-two-adj 8500
            %td.week-three-adj 8500
            %td.week-four-adj 8500
            %td.month-amount-adj 340000
      %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
  .col-12.change-plans__cont.mb-4
    %h3.change-plans__cont__title Noviembre
    %form.change-plans__form
      %table.table.mb-2
        %thead.thead-dark
          %tr
            %th{scope: 'col'}
            %th{scope: 'col'} Semana 1
            %th{scope: 'col'} Semana 2
            %th{scope: 'col'} Semana 3
            %th{scope: 'col'} Semana 4
            %th{scope: 'col'} Total
        %tbody
          %tr.week
            %th{scope: 'row'} Plan
            %td.week-one 8500
            %td.week-two 8500
            %td.week-three 8500
            %td.week-four 8500
            %td.month-amount 34000
          %tr
            %th{scope: 'row'} Ajuste %
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control percentage', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Ajuste monto
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control amount', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Plan ajustado
            %td.week-one-adj 8500
            %td.week-two-adj 8500
            %td.week-three-adj 8500
            %td.week-four-adj 8500
            %td.month-amount-adj 340000
      %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
  .col-12.change-plans__cont.mb-4
    %h3.change-plans__cont__title Diciembre
    %form.change-plans__form
      %table.table.mb-2
        %thead.thead-dark
          %tr
            %th{scope: 'col'}
            %th{scope: 'col'} Semana 1
            %th{scope: 'col'} Semana 2
            %th{scope: 'col'} Semana 3
            %th{scope: 'col'} Semana 4
            %th{scope: 'col'} Total
        %tbody
          %tr.week
            %th{scope: 'row'} Plan
            %td.week-one 8500
            %td.week-two 8500
            %td.week-three 8500
            %td.week-four 8500
            %td.month-amount 34000
          %tr
            %th{scope: 'row'} Ajuste %
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control percentage', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Ajuste monto
            %td{colspan: 5}
              .input-group
                %input{type: 'number', class: 'form-control amount', 'aria-describedby': 'basic-addon1', 'value': 0}
          %tr
            %th{scope: 'row'} Plan ajustado
            %td.week-one-adj 8500
            %td.week-two-adj 8500
            %td.week-three-adj 8500
            %td.week-four-adj 8500
            %td.month-amount-adj 340000
      %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
%div{class: 'modal fade', id: 'exampleModalCenter', 'tabindex': -1, 'role': 'dialog', 'aria-labelledby': 'exampleModalCenterTitle', 'aria-hidden': 'true'}
  %div{ class: 'modal-dialog modal-dialog-centered', 'role': 'document'}
    .modal-content
      .modal-header
        %h5.modal-title#exampleModalCenterTitle Guardar cambios
        %button{type: 'button', class: 'close', 'data-dismiss': 'modal', 'aria-label': 'Close'}
          %span{'aria-hidden': 'true'} &times;
      .modal-body
        Ingresa tus datos para guardar los cambios
        %form
          .form-group
            %label Usuario
            %input{'type': 'text', class: 'form-control', id: 'exampleInputEmail1', 'aria-describedby': 'emailHelp', 'placeholder': 'Usuario'}
          .form-group
            %label Password
            %input{type: 'password', class: 'form-control', id: 'exampleInputPassword1', 'placeholder': 'Password'}
          %button{'type': 'button', class: 'btn btn-secondary', 'data-dismiss': 'modal'} Cerrar
          %button{'type': 'button', class: 'btn btn-primary'} Guardar cambios
