.container-fluid
  %div.pantalla-seccion.d-flex.justify-content-between.mb-2
    %div.align-self-end
      %div.titulo-pantalla= 'Cambio de plan'
  %div.m-t-10
    = render 'shared/filter_parameters/filter_4', filter: retail_parameters
  .row
    .col-12.change-plans__cont.mb-4
      %h3.change-plans__cont__title Junio
      %form.change-plans__form
        .table-responsive
          %table.table.mb-2
            %thead.thead-dark
              %tr
                %th{scope: 'col'}
                %th{scope: 'col'} Semana 1
                %th{scope: 'col'} Semana 2
                %th{scope: 'col'} Semana 3
                %th{scope: 'col'} Semana 4
                %th{scope: 'col', style: 'display: none'} Semana 5
                %th{scope: 'col'} Total
            %tbody
              %tr.week
                %th{scope: 'row'} Plan
                %td.week-one 47.770.108
                %td.week-two 42.887.855
                %td.week-three 45.328.999
                %td.week-four 49.861.893
                %td.week-five{style: 'display: none'} 0
                %td.month-amount 185.848.855
              %tr
                %th{scope: 'row'} Ajuste %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-one', 'aria-describedby': 'basic-addon1', 'value': 0, placeholder: 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-two', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-three', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-four', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td{style: 'display: none'}
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-five', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
              %tr
                %th{scope: 'row'} Ajuste monto
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-1', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-2', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-3', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-4', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td{style: 'display: none'}
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-5', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
              %tr
                %th{scope: 'row'} Plan ajustado
                %td.week-one-adj 47.770.108
                %td.week-two-adj 42.887.855
                %td.week-three-adj 45.328.999
                %td.week-four-adj 49.861.893
                %td.week-five-adj{style: 'display: none'} 0
                %td.month-amount-adj 185.848.855
        %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
    .col-12.change-plans__cont.mb-4
      %h3.change-plans__cont__title Julio
      %form.change-plans__form
        .table-responsive
          %table.table.mb-2
            %thead.thead-dark
              %tr
                %th{scope: 'col'}
                %th{scope: 'col'} Semana 1
                %th{scope: 'col'} Semana 2
                %th{scope: 'col'} Semana 3
                %th{scope: 'col'} Semana 4
                %th{scope: 'col', style: 'display: table-cell'} Semana 5
                %th{scope: 'col'} Total
            %tbody
              %tr.week
                %th{scope: 'row'} Plan
                %td.week-one 43.912.989
                %td.week-two 42.921.075
                %td.week-three 45.357.683
                %td.week-four 49.835.944
                %td.week-five{style: 'display: table-cell'} 50.249.357
                %td.month-amount 232.277.048
              %tr
                %th{scope: 'row'} Ajuste %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-one', 'aria-describedby': 'basic-addon1', 'value': 0, placeholder: 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-two', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-three', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-four', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td{style: 'display: table-cell'}
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-five', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
              %tr
                %th{scope: 'row'} Ajuste monto
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-1', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-2', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-3', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-4', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td{style: 'display: table-cell'}
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-5', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
              %tr
                %th{scope: 'row'} Plan ajustado
                %td.week-one-adj 43.912.989
                %td.week-two-adj 42.921.075
                %td.week-three-adj 45.357.683
                %td.week-four-adj 49.835.944
                %td.week-five-adj{style: 'display: table-cell'} 50.249.357
                %td.month-amount-adj 232.277.048
        %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
    .col-12.change-plans__cont.mb-4
      %h3.change-plans__cont__title Agosto
      %form.change-plans__form
        .table-responsive
          %table.table.mb-2
            %thead.thead-dark
              %tr
                %th{scope: 'col'}
                %th{scope: 'col'} Semana 1
                %th{scope: 'col'} Semana 2
                %th{scope: 'col'} Semana 3
                %th{scope: 'col'} Semana 4
                %th{scope: 'col', style: 'display: none'} Semana 5
                %th{scope: 'col'} Total
            %tbody
              %tr.week
                %th{scope: 'row'} Plan
                %td.week-one 50.681.476
                %td.week-two 51.071.124
                %td.week-three 51.423.959
                %td.week-four 51.720.025
                %td.week-five{style: 'display: none'} 0
                %td.month-amount 204.896.584
              %tr
                %th{scope: 'row'} Ajuste %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-one', 'aria-describedby': 'basic-addon1', 'value': 0, placeholder: 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-two', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-three', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-four', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td{style: 'display: none'}
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-five', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
              %tr
                %th{scope: 'row'} Ajuste monto
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-1', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-2', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-3', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-4', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td{style: 'display: none'}
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-5', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
              %tr
                %th{scope: 'row'} Plan ajustado
                %td.week-one-adj 50.681.476
                %td.week-two-adj 51.071.124
                %td.week-three-adj 51.423.959
                %td.week-four-adj 51.720.025
                %td.week-five-adj{style: 'display: none'} 0
                %td.month-amount-adj 204.896.584
        %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
    .col-12.change-plans__cont.mb-4
      %h3.change-plans__cont__title Septiembre
      %form.change-plans__form
        .table-responsive
          %table.table.mb-2
            %thead.thead-dark
              %tr
                %th{scope: 'col'}
                %th{scope: 'col'} Semana 1
                %th{scope: 'col'} Semana 2
                %th{scope: 'col'} Semana 3
                %th{scope: 'col'} Semana 4
                %th{scope: 'col', style: 'display: none'} Semana 5
                %th{scope: 'col'} Total
            %tbody
              %tr.week
                %th{scope: 'row'} Plan
                %td.week-one 52.051.720
                %td.week-two 52.242.491
                %td.week-three 52.592.138
                %td.week-four 53.007.954
                %td.week-five{style: 'display: none'} 0
                %td.month-amount 209.894.303
              %tr
                %th{scope: 'row'} Ajuste %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-one', 'aria-describedby': 'basic-addon1', 'value': 0, placeholder: 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-two', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-three', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-four', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td{style: 'display: none'}
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-five', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
              %tr
                %th{scope: 'row'} Ajuste monto
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-1', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-2', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-3', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-4', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td{style: 'display: none'}
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-5', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
              %tr
                %th{scope: 'row'} Plan ajustado
                %td.week-one-adj 52.051.720
                %td.week-two-adj 52.242.491
                %td.week-three-adj 52.592.138
                %td.week-four-adj 53.007.954
                %td.week-five-adj{style: 'display: none'} 0
                %td.month-amount-adj 209.894.303
        %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
    .col-12.change-plans__cont.mb-4
      %h3.change-plans__cont__title Octubre
      %form.change-plans__form
        .table-responsive
          %table.table.mb-2
            %thead.thead-dark
              %tr
                %th{scope: 'col'}
                %th{scope: 'col'} Semana 1
                %th{scope: 'col'} Semana 2
                %th{scope: 'col'} Semana 3
                %th{scope: 'col'} Semana 4
                %th{scope: 'col', style: 'display: table-cell'} Semana 5
                %th{scope: 'col'} Total
            %tbody
              %tr.week
                %th{scope: 'row'} Plan
                %td.week-one 53.645.282
                %td.week-two 54.061.696
                %td.week-three 54.558.313
                %td.week-four 54.865.738
                %td.week-five{style: 'display: table-cell'} 53.388.007
                %td.month-amount 270.519.036
              %tr
                %th{scope: 'row'} Ajuste %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-one', 'aria-describedby': 'basic-addon1', 'value': 0, placeholder: 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-two', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-three', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-four', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td{style: 'display: table-cell'}
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-five', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
              %tr
                %th{scope: 'row'} Ajuste monto
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-1', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-2', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-3', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-4', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td{style: 'display: table-cell'}
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-5', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
              %tr
                %th{scope: 'row'} Plan ajustado
                %td.week-one-adj 53.645.282
                %td.week-two-adj 54.061.696
                %td.week-three-adj 54.558.313
                %td.week-four-adj 54.865.738
                %td.week-five-adj{style: 'display: table-cell'} 53.388.007
                %td.month-amount-adj 270.519.036
    .col-12.change-plans__cont.mb-4
      %h3.change-plans__cont__title Noviembre
      %form.change-plans__form
        .table-responsive
          %table.table.mb-2
            %thead.thead-dark
              %tr
                %th{scope: 'col'}
                %th{scope: 'col'} Semana 1
                %th{scope: 'col'} Semana 2
                %th{scope: 'col'} Semana 3
                %th{scope: 'col'} Semana 4
                %th{scope: 'col', style: 'display: table-cell'} Semana 5
                %th{scope: 'col'} Total
            %tbody
              %tr.week
                %th{scope: 'row'} Plan
                %td.week-one 53.645.282
                %td.week-two 54.061.696
                %td.week-three 54.558.313
                %td.week-four 54.865.738
                %td.week-five{style: 'display: table-cell'} 53.388.007
                %td.month-amount 270.519.036
              %tr
                %th{scope: 'row'} Ajuste %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-one', 'aria-describedby': 'basic-addon1', 'value': 0, placeholder: 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-two', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-three', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-four', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td{style: 'display: table-cell'}
                  .input-group
                    %input{name: 'number-format', class: 'form-control pct-week-five', 'aria-describedby': 'basic-addon1', 'value': 0}
                    %span{class: 'input-group-addon'} %
                %td
              %tr
                %th{scope: 'row'} Ajuste monto
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-1', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-2', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-3', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-4', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td{style: 'display: table-cell'}
                  .input-group
                    %span{class: 'input-group-addon'} $
                    %input{name: 'number-format', class: 'form-control amt-week-5', 'aria-describedby': 'basic-addon1', 'value': 0}
                %td
              %tr
                %th{scope: 'row'} Plan ajustado
                %td.week-one-adj 53.645.282
                %td.week-two-adj 54.061.696
                %td.week-three-adj 54.558.313
                %td.week-four-adj 54.865.738
                %td.week-five-adj{style: 'display: table-cell'} 53.388.007
                %td.month-amount-adj 270.519.036
        %button{ 'type': 'button', class: 'btn btn-primary', 'data-toggle': 'modal', 'data-target': '#exampleModalCenter'} Cambiar plan
    %div{class: 'modal fade', id: 'exampleModalCenter', 'tabindex': -1, 'role': 'dialog', 'aria-labelledby': 'exampleModalCenterTitle', 'aria-hidden': 'true'}
      %div{ class: 'modal-dialog modal-dialog-centered', 'role': 'document'}
        .modal-content
          .modal-header
            %h5.modal-title#exampleModalCenterTitle Guardar cambios
            %button{type: 'button', class: 'close', 'data-dismiss': 'modal', 'aria-label': 'Close'}
              %span{'aria-hidden': 'true'} &times;
          .modal-body
            Ingresa tus datos para guardar los cambios
            %form
              .form-group
                %label Usuario
                %input{'type': 'text', class: 'form-control', id: 'exampleInputEmail1', 'aria-describedby': 'emailHelp', 'placeholder': 'Usuario'}
              .form-group
                %label Password
                %input{type: 'password', class: 'form-control', id: 'exampleInputPassword1', 'placeholder': 'Password'}
              %button{'type': 'button', class: 'btn btn-secondary', 'data-dismiss': 'modal'} Cerrar
              %button{'type': 'button', class: 'btn btn-primary'} Guardar cambios
