%div.row.tables
  %div.col-xl-12{ style: 'overflow-y: auto;' }
    %table.table.table-shift.table-striped
      %thead
        %tr
          %th.text-center{colspan: 8} Dotación Real vs Optimizada
        %tr
          %th Horario
          %th Cajas
          %th Herramientas y maquinarias
          %th Aire libre y jardín
          %th Pisos y revestimientos
          %th Electrohogar
          %th + / -
      %tbody.t-p-3
        %tr.hour-switch
          %td 8 - 9
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 3
        %tr.hour-switch
          %td 9 - 10
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 3
        %tr
          %td 10 - 11
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 3
        %tr
          %td 11 - 12
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 3
        %tr
          %td 12 - 13
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 4
        %tr
          %td 13 - 14
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 3
        %tr
          %td 14 - 15
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
        %tr
          %td 15 - 16
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
        %tr
          %td 16 - 17
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 3
        %tr
          %td 17 - 18
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 3
        %tr
          %td 18 - 19
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 3
        %tr
          %td 19 - 20
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
        %tr
          %td 20 - 21
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-primary.tip 0
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2
          %td
            %div.dotacion-row
              %span.dotacion.label.label-danger.tip 1
          %td
            %div.dotacion-row
              %span.dotacion.label.label-success.tip 2