%table.table.table-striped
  %thead
    %th.table__subtitle Actual
    %th.table__subtitle Optimizada
  %tbody
    %tr
      %td 1
      %td 1
    %tr
      %td 2
      %td 1
    %tr
      %td 2
      %td 1
    %tr
      %td 1
      %td 2
    %tr
      %td 1
      %td 2
    %tr
      %td 1
      %td 0
    %tr
      %td 0
      %td 0
    %tr
      %td 0
      %td 0
    %tr
      %td 0
      %td 0
    %tr
      %td 2
      %td 7
    %tr
      %td 0
      %td 3
    %tr
      %td 0
      %td 1
    %tr
      %td.clean-background 10
      %td.clean-background 18
    %tr
      %td.clean-background 57.3%
      %td.clean-background 77.3%
    %tr
      %td.clean-background 1.543
      %td.clean-background 2.327
  %div
  %table.table.table-striped
    %tbody
      %tr
        %td.clean-background 458 unidad/hora
      %tr
        %td.clean-background 578 unidad/hora
      %tr
        %td.clean-background.no-border
          %div.progress
            %div.progress-bar{style: 'width: 50%', role: 'progressbar', aria: {valuenow: '90', valuemin:'0', valuemax: "100"} }
              %span 7 de 18
