%div.container-fluid
  %div.row.text-center
    %div.col-md-6
      %div.chart-dashboard
        %div.sub-titulo-pantalla Cumplimiento de plan
        %canvas#market-plan-compliance
    %div.col-md-6
      %div.chart-dashboard
        %div.sub-titulo-pantalla Eficiencia
        %canvas#market-efficiency

  %div.row{style: 'padding: 0 5px' }
    %div.tables.box.col-md-12
      %h1.tables__title Planificación de Dotación
      %div.tables__container
        %div.table.col-md-4
          %h3.table__title Reponedores
          %table.table.table-striped
            %thead
              %th.table__subtitle ID
              %th.table__subtitle Turno
            %tbody
              %tr
                %td 1
                %td TURNO 1 DE 45 HORAS
              %tr
                %td 2
                %td TURNO 2 DE 45 HORAS
              %tr
                %td 3
                %td TURNO 3 DE 45 HORAS
              %tr
                %td 4
                %td TURNO 4 DE 45 HORAS
              %tr
                %td 5
                %td TURNO 1 DE 36 HORAS
              %tr
                %td 6
                %td TURNO 2 DE 36 HORAS
              %tr
                %td 7
                %td TURNO 3 DE 36 HORAS
              %tr
                %td 8
                %td TURNO 4 DE 36 HORAS
              %tr
                %td 9
                %td TURNO 1 DE 24 HORAS
              %tr
                %td 10
                %td TURNO SA / DO
              %tr
                %td 11
                %td TURNO 1 TARDE
              %tr
                %td 12
                %td TURNO 2 TARDE
              %tr
                %td.clean-background.text--left{colspan: 2} Total
              %tr
                %td.clean-background.text--left{colspan: 2} Eficiencia
              %tr
                %td.clean-background.text--left{colspan: 2} HH Totales
          %div
            %table.table-striped{width: '100%'}
              %tbody
                %tr
                  %td.clean-background.text--left Productividad Real
                %tr
                  %td.clean-background.text--left Productividad Objetivo
                %tr
                  %td.clean-background.text--left.no-border Turno Cubiertos
        %div.tables__rigth.col-md-8
          %div.col-md-4
            %h3.table__title Bebidas
            = render 'table'
          %div.col-md-4
            %h3.table__title Frutas y Verduras
            = render 'table'
          %div.col-md-4
            %h3.table__title Abarrotes
            = render 'table'