%div.general__box__big.container__fluid.col-lg-12.card
  %div.row  
    %div.combobox.container__fluid.col-lg-12
      %select.combobox__locales.col-lg-4
        %option.dropdown
          %p.combobox__opcion Establecimientos
        %option
          %p.combobox__opcion local 1
        %option
          %p.combobox__opcion local 2
        -# %input.typeahead.form-control{:placeholder => "Search Name....", :type => "text"}/


      -# %select.combobox__fecha.col-lg-2
      -#   %option
      -#     %p.combobox__opcion Dia
      -#   %option
      -#     %p.combobox__opcion 1
      -#   %option
      -#     %p.combobox__opcion 2
      -# %select.combobox__fecha.col-lg-2
      -#   %option
      -#     %p.combobox__opcion Mes
      -#   %option
      -#     %p.combobox__opcion Enero
      -#   %option
      -#     %p.combobox__opcion Febrero
      -# %select.combobox__fecha.col-lg-2
      -#   %option
      -#     %p.combobox__opcion Año
      -#   %option
      -#     %p.combobox__opcion 2017
      -#   %option
      -#     %p.combobox__opcion 2018
      -# %button.col-lg-1
      -#   %p ir

  %div.charts.container__fluid.col-lg-12.bg-light
    %div.row
      %div.generalChart.col-lg-6
        %canvas#myChart1   
      %div.generalChart.col-lg-6
        %canvas#myChart2

%div.container__fluid.card
  %button.col-lg-12
    %p Ampliar / Contraer

%div.container__fluid.col-lg-12.card.tables
  %div.row
    %div.col-lg-12
      %h1 Planificacion de Dotacion

    %div.table.col-lg-4
      %h3 Reponedores
      %table.table.table-striped
        %thead
          %th ID
          %th Turno
        %tbody
          %tr
            %td 1
            %td TURNO 1 DE 45 HORAS
          %tr
            %td 2
            %td TURNO 2 DE 45 HORAS
          %tr
            %td 3
            %td TURNO 3 DE 45 HORAS
          %tr
            %td 4
            %td TURNO 4 DE 45 HORAS
          %tr
            %td 5
            %td TURNO 1 DE 36 HORAS
          %tr
            %td 6
            %td TURNO 2 DE 36 HORAS
          %tr
            %td 7
            %td TURNO 3 DE 36 HORAS
          %tr
            %td 8
            %td TURNO 4 DE 36 HORAS
          %tr
            %td 9
            %td TURNO 1 DE 24 HORAS
          %tr
            %td 10
            %td TURNO SA / DO
          %tr
            %td 11
            %td TURNO 1 TARDE
          %tr
            %td 12
            %td TURNO 2 TARDE
          %tr
            %td Total
            %td
          %tr
            %td Eficiencia
            %td
          %tr
            %td HH Totales

    %div.table.col-lg-3
      %h3 Bebidas
      %table.table.table-striped
        %thead
          %th Actual
          %th Optimizada
        %tbody
          %tr
            %td 1
            %td 1
          %tr
            %td 2
            %td 1
          %tr
            %td 2
            %td 1
          %tr
            %td 1
            %td 2
          %tr
            %td 1
            %td 2
          %tr
            %td 1
            %td 0
          %tr
            %td 0
            %td 0
          %tr
            %td 0
            %td 0
          %tr
            %td 0
            %td 0
          %tr
            %td 2
            %td 7
          %tr
            %td 0
            %td 3
          %tr
            %td 0
            %td 1
          %tr
            %td 10
            %td 18
          %tr
            %td 57.3%
            %td 77.3%
          %tr
            %td 1.543
            %td 2.327
      %div.progress
        %div.progress-bar{style: 'width: 50%', role: 'progressbar', aria: {valuenow: '90', valuemin:'0', valuemax: "100"} }
    
    %div.table.col-lg-2
      %h3 Frutas y Verduras
      %table.table.table-striped
        %thead
          %th Actual
          %th Optimizada
        %tbody
          %tr
            %td 1
            %td 1
          %tr
            %td 2
            %td 1
          %tr
            %td 2
            %td 1
          %tr
            %td 1
            %td 2
          %tr
            %td 1
            %td 2
          %tr
            %td 1
            %td 0
          %tr
            %td 0
            %td 0
          %tr
            %td 0
            %td 0
          %tr
            %td 0
            %td 0
          %tr
            %td 2
            %td 7
          %tr
            %td 0
            %td 3
          %tr
            %td 0
            %td 1
          %tr
            %td 10
            %td 18
          %tr
            %td 57.3%
            %td 77.3%
          %tr
            %td 1.543
            %td 2.327
      %div.progress
        %div.progress-bar{style: 'width: 50%', role: 'progressbar', aria: {valuenow: '40', valuemin:'0', valuemax: "100"} }
  

    %div.table.col-lg-2
      %h3 Abarrotes
      %table.table.table-striped
        %thead
          %th Actual
          %th Optimizada
        %tbody
          %tr
            %td 1
            %td 1
          %tr
            %td 2
            %td 1
          %tr
            %td 2
            %td 1
          %tr
            %td 1
            %td 2
          %tr
            %td 1
            %td 2
          %tr
            %td 1
            %td 0
          %tr
            %td 0
            %td 0
          %tr
            %td 0
            %td 0
          %tr
            %td 0
            %td 0
          %tr
            %td 2
            %td 7
          %tr
            %td 0
            %td 3
          %tr
            %td 0
            %td 1
          %tr
            %td 10
            %td 18
          %tr
            %td 57.3%
            %td 77.3%
          %tr
            %td 1.543
            %td 2.327
      %div.progress
        %div.progress-bar{style: 'width: 50%', role: 'progressbar', aria: {valuenow: '40', valuemin:'0', valuemax: "100"} }
  

          
          
         