%div.general__box__big.container__fluid.col-lg-12.card
  %div.row  
    %div.combobox.container__fluid.col-lg-12
      %select.combobox__locales.col-lg-4
        %option
          %p.combobox__opcion Establecimientos
        %option
          %p.combobox__opcion local 1
        %option
          %p.combobox__opcion local 2

      %select.combobox__fecha.col-lg-2
        %option
          %p.combobox__opcion Dia
        %option
          %p.combobox__opcion 1
        %option
          %p.combobox__opcion 2
      %select.combobox__fecha.col-lg-2
        %option
          %p.combobox__opcion Mes
        %option
          %p.combobox__opcion Enero
        %option
          %p.combobox__opcion Febrero
      %select.combobox__fecha.col-lg-2
        %option
          %p.combobox__opcion Año
        %option
          %p.combobox__opcion 2017
        %option
          %p.combobox__opcion 2018
      %button.col-lg-1
        %p ir
  %div.charts.container__fluid.col-lg-12
    %div.row
      %div.generalChart.col-lg-6.card
        %canvas#myChart1   
      %div.generalChart.col-lg-6.card
        %canvas#myChart2

%div.container__fluid.card
  %button.col-lg-12
    %p Ampliar / Contraer

%div.container__fluid.col-lg-12.card
  %div.row
    %div.container__fluid.col-lg-12
      %h1 Planificacion para la Dotacion de reponedores 
    %div.table.col-lg-3
      %h3 Turnos
      %table
        %th ID
        %th Turno
        %tr
        %td Turno 1
        %td 1 de 45 HRS
        %tr
        %td Turno 2
        %td 2 de 45 HRS
        %tr
        %td Turno 3
        %td 3 de 45 HRS
        %tr
        %td Turno 4
        %td 4 de 45 HRS
        %tr
        %td Turno 5
        %td 1 de 36 HRS
        %tr
        %td Turno 6
        %td 2 de 36 HRS
        %tr
        %td Turno 7
        %td 3 de 36 HRS
        %tr
        %td Turno 8
        %td 4 de 36 HRS
        %tr
        %td Turno 9
        %td 1 de 24 HRS
        %tr
        %td Turno 10
        %td SA - DO
        %tr
        %td Turno 11
        %td 1 Tarde
        %tr
        %td Turno 12
        %td 2 Tarde
        %tr
        %td Total
        %tr
        %td Eficiencia Dotacion
        %tr
        %td HH
       
            
          
      -# aca van las columnas y las filas
    %div.table.col-lg-3
      %h3 Bebidas
      %table.table
        %thead
          %th Actual
          %th Optimizada
          %tr
          %td 1
          %td 1
          %tr
          %td 2
          %td 1
          %tr
          %td 2
          %td 1
          %tr
          %td 1
          %td 2
          %tr
          %td 1
          %td 2
          %tr
          %td 1
          %td 0
          %tr
          %td 0
          %td 0
          %tr
          %td 0
          %td 0
          %tr
          %td 0
          %td 0
          %tr
          %td 2
          %td 7
          %tr
          %td 0
          %td 3
          %tr
          %td 0
          %td 1
          %tr
          %td 10
          %td 18
          %tr
          %td 57.3%
          %td 77.3%
          %tr
          %td 1.543
          %td 2.327
            
          
      -# aca van las columnas y las filas
    %div.table.col-lg-3
      %h3 Frutas y Verduras
      %table
        %thead
          %th Actual 
          %th Optimizada
          
          
      -# aca van las columnas y las filas
    %div.table.col-lg-3
      %h3 Abarrotes
      %table
        %thead
          %th Actual
          %th Optimizada
          
          
      -# aca van las columnas y las filas

      -# VERIFICAR COMO AMPLIAR LA TABLA DE ID PARA QUE TODO QUEDE EN EL MISMO TAMAÑO

          
         