%div.container-fluid
  %div.pantalla-seccion.d-flex.justify-content-between.mb-2
    %div.align-self-end
      %div.titulo-pantalla Dashboard de Producción
  %div.m-t-10
    = render 'shared/filter_parameters/filter_2', filter: market_parameters.except(:departments)
    %div.row{style: 'padding: 0 5px' }
      %div.tables.box.col-md-12
        %h1.tables__title Dotación
        %div.tables__container
          %div.table.col-md-1
            %h3.table__title Horario
            %table.table.table-striped
              %thead
                %th.table__subtitle Tramo
              %tbody
                %tr
                  %td 7 - 8
                %tr
                  %td 8 - 9
                %tr
                  %td 10 - 11
                %tr
                  %td 12 - 13
                %tr
                  %td 13 - 14
                %tr
                  %td 14 - 15
                %tr
                  %td 15 - 16
                %tr
                  %td 16 - 17
                %tr
                  %td 17 - 18
                %tr
                  %td 18 - 19
                %tr
                  %td 20 - 21
                %tr
                  %td.no-border 21 - 22
          %div.table.tables__right.col-md-11
            %div.col-md-4
              %h3.table__title Carnes
              = render 'table_production'
            %div.col-md-4
              %h3.table__title Fiambrería y Quesos
              = render 'table_production'
            %div.col-md-4
              %h3.table__title Pescados y Mariscos
              = render 'table_production'