%div{:class => "pantalla-seccion d-flex justify-content-between mb-2"}
  %div.align-self-end
    %div{:class => "titulo-pantalla"} Dashboard Sodimac
.row
  .col-md-6
    %div{:class => "dashoboard-sodimac__cumplimiento"}
      %h3 Cumplimiento de eficiencia
      %table{:class => "table"}
        %thead
          %tr
            %th Departamento
            %th Eficiencia
        %tbody
          %tr.table-handle
            %td Electro hogar
            %td 40%
          %tr.table-handle
            %td Muebles y decoración
            %td 60%
          %tr.table-handle
            %td Piso y revestimiento
            %td 54%
      %table{:class => "table"}
        %thead
          %tr
            %th Cajas
            %th Eficiencia
        %tbody
          %tr
            %td 1
            %td 40%
          %tr
            %td 2
            %td 60%
          %tr
            %td 3
            %td 54%
          %tr
            %td 4
            %td 80%
  .col-md-6
    %div{:class => "dashoboard-sodimac__cumplimiento"}
      .dashoboard-sodimac__cumplimiento__turnos-cubiertos
        %h3 Turnos cubiertos en tienda
        %div{class: "progress" }
          %div{id: "shifts", class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
      .dashoboard-sodimac__cumplimiento__detalle
        %h3.dashoboard-sodimac__cumplimiento__detalle-title Detalle personas Junio
        %table{id: "table_details", class: "table table-details display"}
          %thead
            %tr
              %th Departamento
              %th Colaborador
              %th Turno
          %tbody{:id => "table-details"}
            %tr
              %td Electro Hogar
              %td Giacomo S.
              %td 1 (Turno de 36 horas)
            %tr
              %td Muebles
              %td Susana M.
              %td 1 (Turno de 36 horas)
            %tr
              %td Piso y Revestimiento
              %td Marcelo C.
              %td 1 (Turno de 36 horas)

