<script type="text/javascript">
  data = "<%= @brain_json %>";
  var plan_enviado = JSON.parse(data.replace(/&quot;/g,'"'));
</script>

<div class="card card-transparent" id="productivity_report">
 
</div>

<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="bold">Productividad</h4>  
      </div>
    </div>
      <div class="row ">  
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5 class="text-uppercase m-t-30 fs-13 bold">Productividad por Hora // Alto Las Condes - Rincon Juvenil Mujer</h5>
            <div class="row ">
              <div class="col-sm-12 col-xl-10 offset-xl-1">
                <div id="chartContainer" style="width:100%;">
                  <canvas id="canvas"> </canvas>
                </div>
              </div>             
              <div id="productividades" class="col-md-6 offset-md-3">
              </div>
              <div class="col-md-6">
                <h2>Productividad <h2> <!-- al <%= I18n.l(Time.now, format: "%A, %d %B %Y", locale: :es) %></h2> -->
                <table id="table_desviaciones" class="table-shift table table-bordered bg-master-lightest">
                  <thead>
                    <th></th>
                    <th>Productividad Objetivo</th>
                    <th>Dotación</th>
                    <th>Venta</th>
                    <th>Productividad</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Productividad Real</td>
                      <td class="prod_obj"></td>
                      <td id="dot_real"></td>
                      <td id="vent_real"></td>
                      <td id="prod_real"></td>
                    </tr>
                    <tr>
                      <td>Productividad Optimizada</td>
                      <td class="prod_obj"></td>
                      <td id="dot_op"></td>
                      <td id="vent_op"></td>
                      <td id="prod_op"></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-md-6">
                <h2>Detalle</h2>
                <table id="table_desviaciones" class="table-shift table table-bordered bg-master-lightest">
                  <thead>
                    <th></th>
                    <th>Exceso de horas</th>
                    <th>Horas faltantes</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Real</td>
                      <td id="sum-exceso"></td>
                      <td id="sum-faltante"></td>
                    </tr>
                    <tr>
                      <td>Optimizada</td>
                      <td id="sum-exceso-op"></td>
                      <td id="sum-faltante-op"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6 col-md-offset-3">
                <h2>Eficiencia</h2>
                <table id="table_desviaciones" class="table-shift table table-bordered bg-master-lightest">
                  <thead>
                    <th>Item</th>
                    <th>Valor %</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Nivel eficiencia optimizada</td>
                      <td id="efinciencia-op"></td>
                    </tr>
                    <tr>
                      <td>Nivel esfuerzo real</td>
                      <td id="efinciencia-real"></td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td id="eficiencia-total"></td>
                    </tr>
                  </tbody>
                </table>                
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
</div>
