.dashboard {
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;

  &__container {
    transition: all .5s ease-in-out;

    &.translated {
      transform: translateX(0);

      @include large {
        transform: translateX(300px);
      }

    }

    .row-eq-height {
      display: table;
      width: 100%;

      .col, .col-5, .col-6, .col-7, .col-8 {
        display: table-cell;
      }
    }

  }

  .item {
    background-color: white;
    border: 1px solid $mid-gray;
    border-radius: 5px;
    }

  &__loader {
    background-color: rgba(white, .75);
    height: 100%;
    left: 15px;
    position: absolute;
    right: 15px;
    z-index: 2;

    i {
      color: $light-blue;
      display: block;
      margin: 50px auto 0 auto;
    }

  }

  &__navbar {
    background-color: $dark-blue;
    width: 100%;
    }

  &__header {
    border-bottom: 2px solid $blue;
    margin-bottom: 20px;
    padding-bottom: 12px;
    padding-top: 0;
    text-transform: uppercase;
    @include clearfix;

    &__title {
      float: left;
      @include clearfix;

      button {
        border: none;
        border-radius: 3px;
        color: $dark-blue;
        display: none;
        float: left;
        height: 50px;
        margin-right: 10px;
        transition: all .2s ease-in-out;
        width: 50px;

        @include large {
          display: block;
          }

        @include medium {
          height: 30px;
          width: 30px;
          }

        &:hover {
          background-color: $dark-blue;
          color: $light-blue;
          }

        }

      h2 {
        color: black;
        font-family: $font-title;
        font-size: 3em;
        font-weight: $font-medium;
        margin: 0;
        overflow: hidden;

        @include medium {
          font-size: 2em;
          }

        }

      }

    .brands-nav {
      float: right;
      @include clearfix;

      &__list {
        float: right;
        list-style-type: none;
        margin: 0;

        li {
          border-bottom: 4px solid gray;
          border-radius: 3px;
          float: left;
          height: 50px;
          overflow: hidden;
          padding: 0;

          + li {
            margin-left: 1px;
            }

          &.active {
            border-color: $green;

            a img {
              opacity: 1;
              }

            }

            a {
              display: block;
              height: 100%;

              img {
                height: inherit;
                opacity: .25;
                transition: all .2s ease-in-out;
                vertical-align: top;
                width: auto;
                }

              &:hover img {
                opacity: 1;
                }

              }

          }

        }

      }

    }

  &__filter {

    form {
      display: flex;
      padding: 15px;

      @include medium {
        display: block;
        }

      .form-group {
        margin: 0;
        flex: 1;

        @include medium {
          display: block;
          margin: 0;
          width: 100%;
          }

        + div {
          margin-left: 10px;

          @include medium {
            margin: 10px 0 0 0;
            }

          }

        .select2-container {
          width: 100% !important;

          &.select2-container--open {

            .select2-selection__rendered {
              background-color: $light-gray;
              }

            }

          .select2-container--open .select2-dropdown--below {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 5px;
            }

          .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 35px;
            user-select: none;
            -webkit-user-select: none;
            }

            .select2-selection__rendered {
              line-height: 35px;
            }

            .select2-selection__arrow {
              height: 35px;
              position: absolute;
              top: 1px;
              right: 1px;
              width: 20px;
            }

          }

        .DayPickerInput {
          display: block;

          input {
            border-radius: 5px;
            border-width: 2px;
            border: none; /* <-- This thing here */
            border:solid 1px #ccc;
            display: block;
            height: 38px;
            outline: none;
            text-align: center;
            width: 100%;

            &:focus {
              border-color: #2684FF;
              box-shadow: 0 0 0 1px #2684FF;
              }

            }

          }

        #MonthPickerInput {
          border-radius: 5px;
          border-width: 2px;
          border: none; /* <-- This thing here */
          border:solid 1px #ccc;
          display: block;
          height: 38px;
          outline: none;
          text-align: center;
          width: 100%;

          &:focus {
            border-color: #2684FF;
            box-shadow: 0 0 0 1px #2684FF;
            }

          }

        }

      button {
        border: none;
        border-radius: 3px;
        margin-left: 10px;
        line-height: 35px;
        padding: 0 15px;

        &.btn-primary {
          background-color: $light-blue;
          color: white;
          }

        @include medium {
          margin: 10px 0 0 0;
          }

        span {
          display: block;
          line-height: 35px;
          padding: 0 15px;
          text-align: center;
          width: 100%;
        }

        }

      }

    }

  &__chart {
    padding: 15px;

    .card-title {
      color: $dark-blue;
      border-bottom: 1px solid $mid-gray;
      font-family: $font-title;
      font-size: 1.5em;
      padding-bottom: 5px;
      text-transform: uppercase;
      }

    .secondary-title {
      color: $dark-blue;
      border-bottom: 1px solid $mid-gray;
      font-size: 1em;
      margin: 30px 0 0 0;
      padding-bottom: 5px;
      text-transform: uppercase;
      }

    &__info {
      margin-bottom: 20px;

      &__item {
        border-color: rgba($light-blue, .25);
        padding: 15px;

        &__title {
          color: $dark-blue;
          border-bottom: 1px solid $mid-gray;
          font-size: 1em;
          padding-bottom: 5px;
          text-transform: uppercase;

          @include extra-large {
            min-height: 38px;
            }

          @include large {
            font-size: 12px;
            }

          }

        &__value {
          color: $light-blue;
          font-family: $font-text;
          font-size: 2.5em;
          font-weight: $font-regular;
          margin: 0;
          }

        &__text {
          color: $dark-blue;
          font-family: $font-text;
          font-size: 1em;
          margin: 0;
          }

        }

      }

    &__canvas {
      height: 400px;
      }

    }

  &__progress {
    padding: 15px;

    .card-title {
      color: $dark-blue;
      border-bottom: 1px solid $mid-gray;
      font-size: 1em;
      padding-bottom: 5px;
      text-transform: uppercase;
      }

    .progress {
      margin-bottom: 10px;

      .progress-bar {
        background-color: $light-blue;
        }

      }

    }

  &__table {
    overflow: hidden;
    padding: 15px;

    .card-title {
      color: $dark-blue;
      border-bottom: 1px solid $mid-gray;
      font-size: 1em;
      padding-bottom: 5px;
      text-transform: uppercase;
      }

    .table-responsive {

      /* width */
      &::-webkit-scrollbar {
        width: 2px;
        }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $light-gray;
        }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $mid-gray;
        transition: all .2s ease-in-out;
        }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $dark-gray;
        }

      table {
        font-size: 1em;
        min-width: 100%;
        table-layout: inherit;

        thead {
          background-color: $light-gray;

          tr {

            th {
              padding: 10px;
              vertical-align: middle;

              .table-tooltip {
                display: block;
                margin: -10px;
                padding: 10px;
                position: relative;

                &__text {
                  background-color: black;
                  border-radius: 6px;
                  color: #fff;
                  padding: 5px 0;
                  position: absolute;
                  text-align: center;
                  top: 100%;
                  visibility: hidden;
                  width: 120px;
                  z-index: 1;
                  }

                &:hover {
                  .table-tooltip__text {
                    visibility: visible;
                    }
                  }

                }

              }

            }

          }

        tr {
          padding: 8px 10px;

          th[scope=col] {
            font-size: 12px;
          }

          td {

            &.shifts {
              background-color: rgba($light-blue, .25);
              color: black;
              font-weight: bold;
              }

            .progress {
              background-color: rgba(34,42,66,.1);
              border: 1px solid rgba(34,42,66,.1);
              height: 10px;

              .progress-bar {
                background-color: #46c4fd;
                height: auto;
                }

              }

            .thumbnail {
              border-radius: 50%;
              height: 30px;
              overflow: hidden;
              width: 30px;

              img {
                display: block;
                height: auto;
                width: 100%;
                }

              }

            .difference {
              border-radius: 4px;
              border: 1px solid #EAEDF3;
              color: #9EA0A5;
              font-size: 0.75rem;
              font-weight: 500;
              height: 24px;
              line-height: 18px;
              margin-left: 10px;
              padding: 0 7px;
              text-align: center;
              text-transform: uppercase;

              &.positive {
                background: #38B249;
                border: 1px solid #38B249;
                color: white;
                }

              &.negative {
                background: #E6492D;
                border: 1px solid #E6492D;
                color: white;
                }

              }

            .input-group {

              input {
                font-size: 12px;

                &:focus {
                  background-color: white;
                  border-color: #46c4fd;
                  }

                }

              }

            }

            .link {
              display: block;
              line-height: 20px;
              text-align: center;
              width: 20px;
              }

            .dotation-tooltip {
              background-color: $light-blue;
              border: 0;
              border-radius: 5px;
              color: white;
              font-size: 12px;
              font-weight: $font-medium;
              padding: 0 10px;
              position: relative;
              transition: all .3s ease-in-out;

              &:hover {
                background-color: $mid-blue;
                }

              }

          }

        }

      }

    }

  &__user {
    padding: 15px;

    &-main-items {
      padding: 0 7.5px;

      &__item {
        padding: 0 7.5px;
      }

    }

    &-main {
      min-height: 287px;
      padding: 30px 15px;

      @include extra-large {
        min-height: 0;
        padding: 15px;
      }

      &__avatar {
        margin: 0 auto 15px auto;

        figure {
          border: $light-blue 2px solid;
          border-radius: 50%;
          box-sizing: border-box;
          display: block;
          margin: 0 auto;
          overflow: hidden;
          width: 60px;

          img {
            display: block;
            height: auto;
            width: 100%;
            }

          }

        }

      &__info {
        vertical-align: middle;

        .name {
          color: $dark-gray;
          font-size: 22px;
          font-weight: $font-light;
          margin: 0 0 5px 0;
          text-align: center;
          }

        .position {
          color: $mid-gray;
          font-size: 1em;
          font-weight: $font-regular;
          margin: 0 0 15px 0;
          text-align: center;
          text-transform: uppercase;
          }

        .email {
          color: $dark-gray;
          display: block;
          font-size: 1em;
          font-weight: $font-regular;
          margin: 0 0 5px 0;
          text-align: center;
          }

        .phone {
          color: $mid-gray;
          display: block;
          font-size: 1em;
          font-weight: $font-regular;
          margin: 0 0 15px 0;
          text-align: center;
          text-transform: uppercase;
          }

        .working-today {
          background-color: $green;
          border-radius: 11px;
          color: white;
          font-size: 12px;
          line-height: 26px;
          margin: 0 auto;
          padding: 0 10px;
          text-align: center;
          width: 150px;
          }

        }

      }

    &-objective {
      min-height: 287px;
      padding: 15px;

      @include extra-large {
        min-height: 0;
      }

      .card-title {
        color: $dark-blue;
        border-bottom: 1px solid $dark-gray;
        font-size: 1em;
        padding-bottom: 5px;
        text-transform: uppercase;
        }

      &__goal {
        background-color: $light-gray;
        display: flex;
        justify-content: space-between;
        padding: 9px 15px 13px 15px;
        margin-bottom: 15px;

        &-percentage {
          color: $green;
          font-family: $font-text;
          font-size: 4.5em;
          font-weight: $font-light;
          margin: 30px 0 10px 0;
          }

        &-amounts {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 20px;

          .amount-item {
            color: $dark-blue;
            margin: 0;
            text-align: right;

            span {
              color: black;
              font-weight: $font-medium;
              }

            }

          }

        }

      &__shifts {

        &-title {
          color: $dark-blue;
          font-size: 12px;
          font-weight: $font-regular;
          margin-bottom: 15px;
          text-transform: uppercase;
          }

        &-week {
          display: flex;
          justify-content: space-between;
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 100%;

          li {
            background-color: $light-gray;
            color: white;
            border-radius: 20px;
            font-weight: $font-regular;
            line-height: 40px;
            padding: 0;
            text-align: center;
            width: 12%;

            &.day-active {
              background-color: $green;
              }

            }

          }

        }

      }

    &-distance {
      min-height: 287px;
      padding: 15px;

      @include extra-large {
        min-height: 0;
      }

      .card-title {
        color: $dark-blue;
        border-bottom: 1px solid $dark-gray;
        font-size: 1em;
        padding-bottom: 5px;
        text-transform: uppercase;
        }

      &__info {
        display: flex;
        justify-content: space-between;

        &-item {

          .title {
            color: black;
            font-family: $font-text;
            font-size: 10px;
            font-weight: $font-medium;
            margin: 0 0 5px 0;
            padding-right: 5px;
            text-transform: uppercase;
            }

          .info {
            color: $dark-blue;
            font-family: $font-text;
            font-size: 12px;
            font-weight: $font-regular;
            margin: 0 0 10px 0;
            padding-right: 5px;
            }

          }

        }

      &__map {
        border-bottom: 1px solid $mid-gray;
        border-top: 1px solid $mid-gray;
        margin-bottom: 15px;
      }

      &__times {

        .info-item {
          color: $dark-blue;
          font-size: 12px;
          font-weight: $font-regular;

          + .info-item {
            margin-top: 5px;
            }

          }

        }

      }

    &__tabs {

      .nav-tabs {
        border-bottom: 2px solid $light-gray;

        .nav-item {
          flex: none;
          text-align: left;

          .nav-link {
            border: none;
            border-bottom: 4px solid $light-gray;
            border-radius: 0;
            color: $dark-blue;
            font-size: 1em;
            line-height: 34px;
            padding: 0 40px 0 0;
            transition: all .3s ease-in-out;

            &.active {
              border: none;
              border-bottom: 4px solid $green;
              }

            &:focus, &:hover {
              border: none;
              border-bottom: 4px solid $green;
              }

            }
          }
        }

      .tab-content {

        .tab-pane {

          &__content {
            padding-top: 30px;

            &.schedule {

              .fc-left {

                h2 {
                  text-transform: capitalize;
                }

              }

              .schedule__item {
                border: 0;
                font-size: 1em;
                padding: 5px 10px;
                text-transform: uppercase;
                }

              }

            &__head {
              @include clearfix;

              &__title {
                float: left;
                font-size: 20px;
                line-height: 38px;
                margin: 0;
                text-transform: uppercase;
                }

              .form-group {
                float: right;
                width: 200px;
                }

              }

            &__list {
              list-style-type: none;
              margin: 0;
              padding: 0;

              li {
                color: #9EA0A5;
                font-size: 1em;
                font-weight: $font-regular;

                strong {
                  color: black;
                  font-weight: $font-medium;
                  }

                }

              }

            .month-sells {
              thead {
                tr {
                  &:nth-child(2) {
                    background-color: $light-gray;
                    }

                  th {
                    h3 {
                      background-color: $green;
                      color: white;
                      font-size: 18px;
                      font-weight: $font-light;
                      letter-spacing: .15em;
                      padding: 10px 15px;
                      text-align: center;
                      text-transform: uppercase;
                      }
                    }
                  }
                }

                tbody {
                  tr {
                    th {
                      color: $dark-gray;
                      font-size: 12px;
                      font-weight: $font-medium;
                      }
                    td {
                      color: $dark-gray;
                      font-size: 12px;
                      font-weight: $font-regular;
                      }
                    }
                  }
              }

          }
        }
      }

      }

    }


  &__footer {
    background-color: transparent;
    border: 0;
    padding: 15px;
  }

  }
