.dashboard {
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;

  &__container {
    transition: all .5s ease-in-out;

    &.translated {
      transform: translateX(0);

      @include large {
        transform: translateX(300px);
      }

    }

    .row-eq-height {
      display: table;
      width: 100%;

      .col, .col-5, .col-6, .col-7, .col-8 {
        display: table-cell;
      }
    }

  }

  .item {
    background-color: white;
    border: 1px solid $mid-gray;
    border-radius: 5px;
    }

  &__loader {
    background-color: rgba(white, .75);
    height: 100%;
    left: 15px;
    position: absolute;
    right: 15px;
    z-index: 2;

    i {
      color: $light-blue;
      display: block;
      margin: 50px auto 0 auto;
    }

  }

  &__navbar {
    background-color: $dark-blue;
    width: 100%;
    }

  &__header {
    border-bottom: 1px solid $mid-gray;
    margin-bottom: 20px;
    padding-bottom: 12px;
    padding-top: 0;
    @include clearfix;

    &__title {
      float: left;
      @include clearfix;

      button {
        border: none;
        border-radius: 3px;
        color: $dark-blue;
        display: none;
        float: left;
        height: 50px;
        margin-right: 10px;
        transition: all .2s ease-in-out;
        width: 50px;

        @include large {
          display: block;
          }

        @include medium {
          height: 30px;
          width: 30px;
          }

        &:hover {
          background-color: $dark-blue;
          color: $light-blue;
          }

        }

      h2 {
        color: black;
        font-size: 3em;
        margin: 0;
        overflow: hidden;

        @include medium {
          font-size: 2em;
          }

        }

      }

    .brands-nav {
      float: right;
      @include clearfix;

      &__list {
        float: right;
        list-style-type: none;
        margin: 0;

        li {
          border-bottom: 4px solid gray;
          border-radius: 3px;
          float: left;
          height: 50px;
          overflow: hidden;
          padding: 0;

          + li {
            margin-left: 1px;
            }

          &.active {
            border-color: $green;

            a img {
              opacity: 1;
              }

            }

            a {
              display: block;
              height: 100%;

              img {
                height: inherit;
                opacity: .25;
                transition: all .2s ease-in-out;
                vertical-align: top;
                width: auto;
                }

              &:hover img {
                opacity: 1;
                }

              }

          }

        }

      }

    }

  &__filter {

    form {
      display: flex;
      padding: 15px;

      @include medium {
        display: block;
        }

      .form-group {
        margin: 0;
        flex: 1;

        @include medium {
          display: block;
          margin: 0;
          width: 100%;
          }

        + div {
          margin-left: 10px;

          @include medium {
            margin: 10px 0 0 0;
            }

          }

        .select2-container {
          width: 100% !important;

          &.select2-container--open {

            .select2-selection__rendered {
              background-color: $light-gray;
              }

            }

          .select2-container--open .select2-dropdown--below {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 5px;
            }

          .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 35px;
            user-select: none;
            -webkit-user-select: none;
            }

            .select2-selection__rendered {
              line-height: 35px;
            }

            .select2-selection__arrow {
              height: 35px;
              position: absolute;
              top: 1px;
              right: 1px;
              width: 20px;
            }

          }

        .DayPickerInput {
          display: block;

          input {
            border-radius: 5px;
            border-width: 2px;
            border: none; /* <-- This thing here */
            border:solid 1px #ccc;
            display: block;
            height: 38px;
            outline: none;
            text-align: center;
            width: 100%;

            &:focus {
              border-color: #2684FF;
              box-shadow: 0 0 0 1px #2684FF;
              }
            }

          }

        }

      button {
        background-color: $light-blue;
        border: none;
        border-radius: 3px;
        color: white;
        margin-left: 10px;
        line-height: 35px;
        padding: 0 15px;

        @include medium {
          margin: 10px 0 0 0;
          }

        }

      }

    }

  &__chart {
    padding: 15px;

    .card-title {
      color: $dark-blue;
      border-bottom: 1px solid $mid-gray;
      font-family: $font-title;
      font-size: 1.5em;
      padding-bottom: 5px;
      text-transform: uppercase;
      }

    &__info {
      margin-bottom: 20px;

      &__item {
        border-color: rgba($light-blue, .25);
        padding: 15px;

        &__title {
          color: $dark-blue;
          border-bottom: 1px solid $mid-gray;
          font-size: 1em;
          padding-bottom: 5px;
          text-transform: uppercase;

          @include extra-large {
            min-height: 38px;
            }

          @include large {
            font-size: 12px;
            }

          }

        &__value {
          color: $light-blue;
          font-family: $font-text;
          font-size: 2.5em;
          font-weight: $font-regular;
          margin: 0;
          }

        &__text {
          color: $dark-blue;
          font-family: $font-text;
          font-size: 1em;
          margin: 0;
          }

        }

      }

    &__canvas {
      height: 400px;
    }

    }

  &__progress {
    padding: 15px;

    .card-title {
      color: $dark-blue;
      border-bottom: 1px solid $mid-gray;
      font-size: 1em;
      padding-bottom: 5px;
      text-transform: uppercase;
      }

    .progress {
      margin-bottom: 10px;

      .progress-bar {
        background-color: $light-blue;
        }

      }

    }

  &__table {
    overflow: hidden;
    padding: 15px;

    .card-title {
      color: $dark-blue;
      border-bottom: 1px solid $mid-gray;
      font-size: 1em;
      padding-bottom: 5px;
      text-transform: uppercase;
      }

    .table-responsive {

      /* width */
      &::-webkit-scrollbar {
        width: 2px;
        }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $light-gray;
        }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $mid-gray;
        transition: all .2s ease-in-out;
        }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $dark-gray;
        }

      table {
        font-size: 1em;
        min-width: 100%;
        table-layout: inherit;

        thead {
          background-color: $light-gray;

          tr {

            th {
              padding: 10px;
              vertical-align: middle;
              }

            }

          }

        tr {
          padding: 8px 10px;

          th[scope=col] {
            font-size: 12px;
          }

          td {

            &.shifts {
              background-color: rgba($light-blue, .25);
              color: black;
              font-weight: bold;
              }

            .progress {
              background-color: rgba(34,42,66,.1);
              border: 1px solid rgba(34,42,66,.1);
              height: 10px;

              .progress-bar {
                background-color: #46c4fd;
                height: auto;
              }

            }

            .thumbnail {
              border-radius: 50%;
              height: 30px;
              overflow: hidden;
              width: 30px;

              img {
                display: block;
                height: auto;
                width: 100%;
                }

              }

            .input-group {

              input {
                font-size: 12px;

                &:focus {
                  background-color: white;
                  border-color: #46c4fd;
                  }

                }

              }

            }

            .link {
              display: block;
              line-height: 20px;
              text-align: center;
              width: 20px;
            }

            .dotation-tooltip {
              background-color: $light-blue;
              border: 0;
              border-radius: 5px;
              color: white;
              font-size: 12px;
              font-weight: $font-medium;
              padding: 0 10px;
              transition: all .3s ease-in-out;

              &:hover {
                background-color: $mid-blue;
              }

            }

          }

        }

      }

    }

  &__user {
    padding: 15px;

    .card-title {
      color: $dark-blue;
      border-bottom: 1px solid $mid-gray;
      font-size: 1em;
      padding-bottom: 5px;
      text-transform: uppercase;
      }

    &__avatar {
      border-bottom: 1px solid $light-gray;
      display: table;
      margin: 0 auto;
      padding: 30px 0;

      &__image {
        display: table-cell;
        vertical-align: middle;

        figure {
          border: $light-blue 2px solid;
          border-radius: 50%;
          box-sizing: border-box;
          margin: 0;
          overflow: hidden;
          width: 60px;

          img {
            display: block;
            height: auto;
            width: 100%;
            }

          }


        }

      &__name {
        display: table-cell;
        padding: 0 0 0 15px;
        vertical-align: middle;

        h3 {
          color: $dark-gray;
          font-size: 22px;
          font-weight: $font-light;
          margin-bottom: 5px;

          span {
            background-color: $green;
            border-radius: 11px;
            color: white;
            font-size: 12px;
            height: 26px;
            padding: 4px 10px;
            vertical-align: middle;
            }

          }

        h4 {
          color: $light-blue;
          font-size: 1em;
          font-weight: $font-regular;
          margin: 0;
          text-transform: uppercase;
          }

        }

      }

    &__item {
      border-bottom: 1px solid #EAEDF3;
      padding: 15px;
      @include clearfix;

      &__icon {
        background-color: $light-gray;
        border-radius: 50%;
        float: left;
        line-height: 40px;
        margin-right: 15px;
        text-align: center;
        width: 40px;

        i {
          color: $light-blue;
          }

      }

      p {
        font-family: $font-text;
        font-size: 0.875rem;
        color: #9EA0A5;
        line-height: 1.375rem;
        margin:0;
        overflow: hidden;
        white-space: nowrap;

        strong {
          color: $dark-gray;
          font-weight: $font-medium;
          }

        }

      }

    &__tabs {

      .nav-tabs {
        border: none;
        border-bottom: 1px solid $light-blue;

        .nav-item {

          .nav-link {
            border: none;
            border-radius: 0;
            color: $mid-gray;
            font-size: 10px;
            line-height: 34px;
            padding: 0 15px;
            text-transform: uppercase;
            transition: all .3s ease-in-out;

            &.active {
              background-color: $light-blue;
              color: white;
              }

            &:hover {
              border: none;
              }

            }
          }
        }

      .tab-content {

        .tab-pane {
          &__content {
            padding-top: 30px;

            &__head {
              @include clearfix;

              &__title {
                float: left;
                font-size: 20px;
                line-height: 38px;
                margin: 0;
                text-transform: uppercase;
                }

              .form-group {
                float: right;
                width: 200px;
                }

              }

            &__list {
              list-style-type: none;
              margin: 0;
              padding: 0;

              li {
                color: #9EA0A5;
                font-size: 1em;
                font-weight: $font-regular;

                strong {
                  color: black;
                  font-weight: $font-medium;
                  }
                
                }

              }

            .month-sells {
              thead {
                tr {
                  &:nth-child(2) {
                    background-color: $light-gray;
                    }

                  th {
                    h3 {
                      background-color: $green;
                      color: white;
                      font-size: 18px;
                      font-weight: $font-light;
                      letter-spacing: .15em;
                      padding: 10px 15px;
                      text-align: center;
                      text-transform: uppercase;
                      }
                    }
                  }
                }

                tbody {
                  tr {
                    th {
                      color: $dark-gray;
                      font-size: 12px;
                      font-weight: $font-medium;
                      }
                    td {
                      color: $dark-gray;
                      font-size: 12px;
                      font-weight: $font-regular;
                      }
                    }
                  }
              }

          }
        }
      }

      }

    }


  &__footer {
    background-color: transparent;
    border: 0;
    padding: 15px;
  }

  }