%table.table
  %thead
    %th.table__subtitle Actual
  %tbody
    %tr
      %td 4
    %tr
      %td 4
    %tr
      %td 4
    %tr
      %td 4
    %tr
      %td 4
    %tr
      %td 2
    %tr
      %td 2
    %tr
      %td 2
    %tr
      %td 2
    %tr
      %td 2
    %tr
      %td 2
    %tr
      %td 3
    %tr
      %td 3
    %tr
      %td 3
