%table.table
  %thead
    %th.table__subtitle Producción/Venta
    %tH.table__subtitle Actual
    %th.table__subtitle Optimizada
  %tbody
    %tr
      %td 12 Kg/Hr
      %td 2
      %td 1
    %tr
      %td 12 Kg/Hr
      %td 1
      %td 2
    %tr
      %td 7 Kg/Hr
      %td 1
      %td 2
    %tr
      %td 8 Kg/Hr
      %td 1
      %td 0
    %tr
      %td 12 Kg/Hr
      %td 0
      %td 0
    %tr
      %td 15 Kg/Hr
      %td 0
      %td 0
    %tr
      %td 17 Kg/Hr
      %td 0
      %td 0
    %tr
      %td 12 Kg/Hr
      %td 2
      %td 7
    %tr
      %td 13 Kg/Hr
      %td 0
      %td 3
    %tr
      %td 11 Kg/Hr
      %td 0
      %td 1