%table.table
  %thead
    %th.table__subtitle Actual
    %tH.table__subtitle Optimizado
    %th.table__subtitle Comprometido
    %th.table__subtitle Diferencia
  %tbody
    %tr
      %td 4
      %td 4
      %td 4
      %td 0
    %tr
      %td 4
      %td 4
      %td 4
      %td 0
    %tr
      %td 4
      %td 4
      %td 4
      %td 0
    %tr
      %td 4
      %td 4
      %td 4
      %td 0
    %tr
      %td 4
      %td 3
      %td 3
      %td 0
    %tr
      %td 3
      %td 3
      %td 3
      %td 0
    %tr
      %td 3
      %td 3
      %td 3
      %td 0
    %tr
      %td 3
      %td 3
      %td 3
      %td 0
    %tr
      %td 3
      %td 3
      %td 3
      %td 0
    %tr
      %td 4
      %td 3
      %td 3
      %td 0
    %tr
      %td 4
      %td 3
      %td 3
      %td 0
    %tr
      %td 4
      %td 3
      %td 3
      %td 0
