.container-fluid
  %div{class: 'row dashboard-market'}
    %div{class: "col-md-12 dashboard-market__title"}
      %h1 Dashboard Supermercado
    %div{class: 'col-md-12 dashboard-market__filter clearfix'}
      = render 'shared/filter_parameters/filter_3', filter: market_parameters
    .col-md-12
      .dashboard-market__tables
        .row
          .col-md-3
            %h4 Colaboradores
            %table
              %thead
                %tr
                  %th ID
                  %th{'colspan': '2'} Turno
              %tbody
                %tr
                  %td 1
                  %td Turno 1 de 45 horas
                %tr
                  %td 2
                  %td Turno 2 de 45 horas
                %tr
                  %td 3
                  %td Turno 3 de 45 horas
                %tr
                  %td 4
                  %td Turno 4 de 45 horas
                %tr
                  %td 5
                  %td Turno 1 de 36 horas
                %tr
                  %td 6
                  %td Turno 1 de 36 horas
                %tr
                  %td 7
                  %td Turno 1 de 36 horas
                %tr
                  %td 8
                  %td Turno 1 de 36 horas
                %tr
                  %td 9
                  %td Turno 1 de 24 horas
                %tr
                  %td 10
                  %td Turno SA / DO
                %tr
                  %td 11
                  %td Turno 1 Tarde
                %tr
                  %td 12
                  %td Turno 2 Tarde
              %tfoot
                %tr
                  %td{'colspan': '2'} Total
                %tr
                  %td{'colspan': '2'} Eficiencia
                %tr
                  %td{'colspan': '2'} HH Totales
                %tr
                  %td{'colspan': '2'} Productividad Real
                %tr
                  %td{'colspan': '2'} Productividad Objetivo
                %tr
                  %td{'colspan': '2'} Turnos cubiertos
          .col-md-9
            %div{class: 'dashboard-market__tables__carousel__controls left'}
              %a{class: 'dashboard-market__tables__carousel__controls-prev', href: '#', }
            %div{class: 'dashboard-market__tables__carousel__controls right'}
              %a{class: 'dashboard-market__tables__carousel__controls-next', href: '#'}
            %div{class: 'dashboard-market__tables__carousel owl-carousel'}
              .dashboard-market__tables__carousel-item
                %h4 Cajas
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizada
                  %tbody
                    %tr
                      %td 1
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 2
                    %tr
                      %td 1
                      %td 2
                    %tr
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 2
                      %td 7
                    %tr
                      %td 0
                      %td 3
                    %tr
                      %td 0
                      %td 1
                    %tr
                      %td 0
                      %td 1
                  %tfoot
                    %tr
                      %td 10
                      %td 18
                    %tr
                      %td 57.3%
                      %td 77.3%
                    %tr
                      %td 1.543
                      %td 2.327
                    %tr
                      %td{'colspan': '2'} 458 unidad/hora
                    %tr
                      %td{'colspan': '2'} 578 unidad/hora
                    %tr
                      %td{'colspan': '2'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            7 de 10
              .dashboard-market__tables__carousel-item
                %h4 Abarrotes y Bebidas
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizada
                  %tbody
                    %tr
                      %td 1
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 2
                    %tr
                      %td 1
                      %td 2
                    %tr
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 2
                      %td 7
                    %tr
                      %td 0
                      %td 3
                    %tr
                      %td 0
                      %td 1
                    %tr
                      %td 0
                      %td 1
                  %tfoot
                    %tr
                      %td 10
                      %td 18
                    %tr
                      %td 57.3%
                      %td 77.3%
                    %tr
                      %td 1.543
                      %td 2.327
                    %tr
                      %td{'colspan': '2'} 458 unidad/hora
                    %tr
                      %td{'colspan': '2'} 578 unidad/hora
                    %tr
                      %td{'colspan': '2'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            7 de 10
              .dashboard-market__tables__carousel-item
                %h4 Frutas, Verduras y Congelados
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizada
                  %tbody
                    %tr
                      %td 1
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 2
                    %tr
                      %td 1
                      %td 2
                    %tr
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 2
                      %td 7
                    %tr
                      %td 0
                      %td 3
                    %tr
                      %td 0
                      %td 1
                    %tr
                      %td 0
                      %td 1
                  %tfoot
                    %tr
                      %td 10
                      %td 18
                    %tr
                      %td 57.3%
                      %td 77.3%
                    %tr
                      %td 1.543
                      %td 2.327
                    %tr
                      %td{'colspan': '2'} 458 unidad/hora
                    %tr
                      %td{'colspan': '2'} 578 unidad/hora
                    %tr
                      %td{'colspan': '2'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            7 de 10
              .dashboard-market__tables__carousel-item
                %h4 Panadería
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizada
                  %tbody
                    %tr
                      %td 1
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 2
                    %tr
                      %td 1
                      %td 2
                    %tr
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 2
                      %td 7
                    %tr
                      %td 0
                      %td 3
                    %tr
                      %td 0
                      %td 1
                    %tr
                      %td 0
                      %td 1
                  %tfoot
                    %tr
                      %td 10
                      %td 18
                    %tr
                      %td 57.3%
                      %td 77.3%
                    %tr
                      %td 1.543
                      %td 2.327
                    %tr
                      %td{'colspan': '2'} 458 unidad/hora
                    %tr
                      %td{'colspan': '2'} 578 unidad/hora
                    %tr
                      %td{'colspan': '2'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            7 de 10
              .dashboard-market__tables__carousel-item
                %h4 Carnes
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizada
                  %tbody
                    %tr
                      %td 1
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 2
                    %tr
                      %td 1
                      %td 2
                    %tr
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 2
                      %td 7
                    %tr
                      %td 0
                      %td 3
                    %tr
                      %td 0
                      %td 1
                    %tr
                      %td 0
                      %td 1
                  %tfoot
                    %tr
                      %td 10
                      %td 18
                    %tr
                      %td 57.3%
                      %td 77.3%
                    %tr
                      %td 1.543
                      %td 2.327
                    %tr
                      %td{'colspan': '2'} 458 unidad/hora
                    %tr
                      %td{'colspan': '2'} 578 unidad/hora
                    %tr
                      %td{'colspan': '2'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            7 de 10
              .dashboard-market__tables__carousel-item
                %h4 Fiambrería
                %table
                  %thead
                    %tr
                      %th Actual
                      %th Optimizada
                  %tbody
                    %tr
                      %td 1
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 1
                    %tr
                      %td 2
                      %td 2
                    %tr
                      %td 1
                      %td 2
                    %tr
                      %td 1
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 0
                      %td 0
                    %tr
                      %td 2
                      %td 7
                    %tr
                      %td 0
                      %td 3
                    %tr
                      %td 0
                      %td 1
                    %tr
                      %td 0
                      %td 1
                  %tfoot
                    %tr
                      %td 10
                      %td 18
                    %tr
                      %td 57.3%
                      %td 77.3%
                    %tr
                      %td 1.543
                      %td 2.327
                    %tr
                      %td{'colspan': '2'} 458 unidad/hora
                    %tr
                      %td{'colspan': '2'} 578 unidad/hora
                    %tr
                      %td{'colspan': '2'}
                        %div{class: "progress" }
                          %div{class: "progress-bar", :role => "progressbar", "aria-valuenow" => "70", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 70%"}
                            7 de 10
    .col-md-12
      .dashboard-market__chart
        %h3.sub-titulo-pantalla Cumplimiento de plan
        %canvas#market-plan-compliance

