.container-fluid
  %div{class: 'row dashboard-market'}
    %div{class: "col-md-12 dashboard-market__title"}
      %h1 Dashboard de producción
  = render 'shared/filter_parameters/filter_2', filter: market_parameters.except(:departments)
  .row
    .col-md-12
      .dashboard-market__tables
        %h1.tables__title Dotación
        .row
          .col-sm-3
            %h4 Horario
            .table-responsive
              %table.table
                %thead
                  %th.table__subtitle Horario
                %tbody
                  %tr
                    %td 8 - 9
                  %tr
                    %td 9 - 10
                  %tr
                    %td 10 - 11
                  %tr
                    %td 11 - 12
                  %tr
                    %td 12 - 13
                  %tr
                    %td 13 - 14
                  %tr
                    %td 14 - 15
                  %tr
                    %td 15 - 16
                  %tr
                    %td 16 - 17
                  %tr
                    %td 17 - 18
                  %tr
                    %td 18 - 19
                  %tr
                    %td 19 - 20
                  %tr
                    %td 20 - 21
                  %tr
                    %td.no-border 21 - 22
          .col-sm-9
            .row
              .col-md-4
                %h4 Carnes
                .table-responsive
                  = render 'table_production_butchery'
              .col-md-4
                %h4 Fiambrería y Quesos
                .table-responsive
                  = render 'table_production_dairy_prods'
              .col-md-4
                %h4 Pescados y Mariscos
                .table-responsive
                  = render 'table_production_seafoods'