= react_component("components/DashboardHeader", { title: 'Optimizador de turnos' })
= react_component('containers/Optimizer', { root_url: request.base_url, filters: @filters, user: current_user}, class: 'row')
