.first__container{


#combobox{

.search{

    margin-top: 2vh;
    margin-bottom: 1vh;

}
.search__box{
    width: 100%;
}

.chart{

   
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    

}
.charts__chartbox{

    padding-top: 3vh;
    padding-bottom: 2vh;
    border: solid 3px #f0f0f0;
    box-sizing: border-box;
    border-radius: 10px;
   
}

.buttonbox{

    margin-bottom: 1vh;
    
}

.buttonbox__button{

    background-color:#f0f0f0;
    border-radius: 10px;
}

.buttonbox__options{

    margin-top: 1.5vh;
    font-size: 1.5rem;
    color: grey;

}

.tables__tittle{
    
    margin-top: 3vh;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    color: grey;
}

.table__subtittle{
    
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: grey;
}

// .chart__drawing{
    
//     margin-left: calc(50% - 13vw/2);
//     width: 13vw;
//     height: 13vw;
//     background-color: green;
//     border-radius: 50%;

// }

.data{

    padding: 0;
    margin: 0;
    float: left;

}


.data__turns{

    border-radius: 2.5%;
 
}

.data__turns--positivecolor{
    
    width: 3vw;
    
}

.data__turns--bar{
   
    height: 4vh;
    background-color: green;
    border-radius: 5px;
   
}

.data__fulfillment{
    
    width: 100vw;
    border-radius: 5px;
    
    
}
