
     <div class="col-lg-6 col-xl-6 col-sm-12">
          <table id="table_shift_w<%= locals[:w] %>" class="table-shift table table-bordered bg-master-lightest">
            <thead>
              <tr class="bg-success">
                <td colspan="8" class="text-center no-padding">
                  <h3 class="no-margin text-uppercase text-white fs-15">Semana <%= locals[:w] %></h3>
                </td>
              </tr>
              <tr>
                <th class="text-center">Horario</th>
                <th class="text-center">Lun</th>
                <th class="text-center">Mar</th>
                <th class="text-center">Mie</th>
                <th class="text-center">Jue</th>
                <th class="text-center">Vie</th>
                <th class="text-center">Sáb</th>
                <th class="text-center">Dom</th>  
              </tr>
            </thead>
            <tbody class="t-p-3">
            <% locals[:s].each do |k,days| %>
              <tr>
                <td align="center" class="text-center"><%= k %></td>
                <% days.each do |d| %>
                <td class="text-center"> 
                  <% if d == true  %>
                  <i class="text-success fa fa-check"></i>
                  <% end -%>

                </td>
                <% end -%>
              </tr>
              <% end -%>
            </tbody>
            <tfoot class="t-p-5">
              <tr>
                <td colspan="8" class="text-center">
                  <code>Turno de <%= locals[:s].values.flatten.count(true) %> Horas</code>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        